.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

/* SEÇÃO VÍDEOS */

.videos__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
    padding: 153px 25px 15px 25px;
}

/* .videos__item {
    flex-grow: 1;
    height: 303px;
    width: 303px;
} */
.videos__item {
    width: 48%; 
    margin-bottom: 20px; 
    box-sizing: border-box;
    overflow: hidden; 
}

/* grid vídeos */

/* .descricao-video {
    margin-top: 1rem;
    display: grid;
    text-align: start;
    column-gap: 1rem;
    row-gap: 5px;
} */

.descricao-video {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

/* .descricao-video img {
    width: 2em;
    height: 2em;
} */

.descricao-video h3 {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 12px;
    font-weight: 700;
    color: #444444;
    margin-left: 5px;
    margin-bottom: 10px;
}

.descricao-video .acoes-video {
    display: flex;
    justify-content: space-around;
}

@media(min-width: 834px) {

    .videos__container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media(min-width: 1440px) {
    .videos__item {
        width: 288px;
    }
}